@page "/"

<h1>Character Generator</h1>

<div class="container">
    <div>
        <h2 class="row">Start new character</h2>
        <div class="row">
            <a class="btn btn-primary" href="/newcharacter">Start <span class="oi oi-chevron-right" aria-hidden="true"></span></a>
        </div>
    </div>
    <div>
        <h2 class="row">View list of existing characters</h2>
        <div class="row">
            <a class="btn btn-primary" href="/characters">View List</a>
        </div>
    </div>
</div>